* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 1250px;
  margin: 0 auto;
}

.chk {
  display: none;
}

.myicon {
  display: none;
}

#banner-top {
  background: url(./moukup-images/platter-g7eb2f9645_640.jpg) no-repeat center center/cover;
  width: 100%;
  height: 700px;
  position: relative;
}

#banner-top .navbar {
  width: 100%;
  background-color: rgba(15, 14, 14, 0.8);
  position: fixed;
  top: 20px;
  z-index: 10;
}

#banner-top .navbar nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#banner-top .navbar nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#banner-top .navbar nav li {
  padding: 20px;
  list-style: none;
}

#banner-top .navbar nav li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.logo-width {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  position: absolute;
  top: 0px;
}

.logo img {
  width: 100%;
}

#uldata {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.bg-content {
  width: 100%;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg-content h2 {
  color: #fff;
  padding: 10px;
  font-size: 45px;
  font-family: 'Dancing Script', cursive;
}

.bg-content p {
  color: #fff;
  font-size: 50px;
  padding: 10px;
  border-radius: 30px;
  background-color: rgba(15, 14, 14, 0.8);
  font-family: 'Dancing Script', cursive;
}

@media (max-width: 480px) {
  .chk {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    opacity: 0;
    z-index: 1000000;
  }
  .myicon {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1000000;
  }
  #banner-top .navbar {
    top: 0;
  }
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .container {
    width: 100%;
  }
  #uldata {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: -400px;
    background-color: rgba(15, 14, 14, 0.8);
    -webkit-transition: all 1s;
    transition: all 1s;
    position: absolute;
    top: 0px;
  }
  ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 100000;
    display: block;
  }
  ul li {
    display: block;
    text-align: center;
  }
  .chk:checked ~ #uldata {
    left: 0;
  }
  #banner-top .navbar nav .logo {
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    padding: 20px;
  }
  .bg-content h2 {
    font-size: 40px;
  }
  .bg-content p {
    font-size: 40px;
  }
  #banner-top .navbar nav ul li {
    padding: 18px;
    border-bottom: 1px solid white;
  }
}

.food-details {
  background: url(./moukup-images/restaurant-g8abe236b0_640.jpg) no-repeat center center/cover;
  height: 400px;
}

.food-box {
  width: 50%;
  height: 400px;
  padding: 30px;
  border-radius: 30px;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(10, 9, 9, 0.4)), to(#050505));
  background-image: linear-gradient(to left, rgba(10, 9, 9, 0.4), #050505);
}

.food-box h1 {
  color: #fff;
  padding: 20px;
  font-size: 60px;
  font-family: 'Dancing Script', cursive;
}

.food-box p {
  color: #fff;
  padding: 30px;
  text-align: justify;
}

@media (max-width: 480px) {
  .food-box {
    width: 100%;
    height: 450px;
  }
  .container {
    width: 100%;
  }
  .food-box h1 {
    color: #fff;
    padding: 0px;
    text-align: center;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
  }
  .food-box p {
    color: #fff;
    padding: 10px 0;
    text-align: justify;
  }
}

.menu {
  background-color: rgba(15, 14, 14, 0.8);
}

.menu h1 {
  text-align: center;
  padding: 30px;
  font-family: 'Dancing Script', cursive;
  color: #d69e12;
  font-size: 50px;
}

.menu .family-style-meals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu .first-box {
  width: 64%;
  height: 250px;
  border: 5px solid #fff;
  background: url(./moukup-images/buffet-g34cd39c16_640.jpg) no-repeat center center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0;
  overflow: hidden;
}

.menu .first-box h2 {
  color: white;
  font-size: 30px;
  padding: 30px;
}

.menu .first-box a {
  text-decoration: none;
  color: black;
  padding: 10px;
  background-color: rgba(189, 184, 184, 0.6);
}

.menu .first-box a .icn {
  color: black;
}

.menu .first-box:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.menu .second-box {
  width: 34%;
  height: 250px;
  border: 5px solid #fff;
  background: url(./moukup-images/platter-g7eb2f9645_640.jpg) no-repeat center center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0;
}

.menu .second-box h2 {
  color: white;
  font-size: 30px;
  padding: 30px;
}

.menu .second-box a {
  text-decoration: none;
  color: black;
  padding: 10px;
  background-color: rgba(189, 184, 184, 0.6);
}

.menu .second-box a icn {
  color: black;
}

.menu .second-box:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.menu .third-box {
  width: 34%;
  height: 250px;
  border: 5px solid #fff;
  background: url(./moukup-images/drink-g990a9f1df_640.jpg) no-repeat center center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .third-box h2 {
  color: white;
  font-size: 30px;
  padding: 30px;
}

.menu .third-box a {
  text-decoration: none;
  color: black;
  padding: 10px;
  background-color: rgba(189, 184, 184, 0.6);
}

.menu .third-box a .icn {
  color: black;
}

.menu .third-box:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.menu .fourth-box {
  width: 64%;
  height: 250px;
  border: 5px solid #fff;
  background: url(./moukup-images/bar-ga3a3f49ee_640.jpg) no-repeat center center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .fourth-box h2 {
  color: white;
  font-size: 30px;
  padding: 30px;
}

.menu .fourth-box a {
  text-decoration: none;
  color: black;
  padding: 10px;
  background-color: rgba(189, 184, 184, 0.6);
}

.menu .fourth-box a icn {
  color: black;
}

.menu .fourth-box:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.menu .service p {
  text-align: center;
  color: #fff;
}

.menu .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

.menu .row .detail-box1 {
  width: 32%;
  height: 250px;
  background: url(./moukup-images/brick-wall-g808bb5d61_640.jpg) no-repeat center center/cover;
}

.menu .row .detail-box2 {
  width: 32%;
  height: 250px;
  background: url(./moukup-images/table-g06a313d7f_640.jpg) no-repeat center center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .row .detail-box2 h2 {
  color: white;
  font-size: 50px;
  font-family: 'Dancing Script', cursive;
}

.menu .row .detail-box3 {
  width: 32%;
  height: 250px;
  background: url(./moukup-images/place-setting-g7c7d32c53_640.jpg) no-repeat center center/cover;
}

.menu .row .detail-box1:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.menu .row .detail-box2:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.menu .row .detail-box3:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media (max-width: 480px) {
  .menu {
    padding: 40px 0;
  }
  .family-style-meals {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container {
    width: 100%;
  }
  .menu .first-box {
    width: 100%;
    text-align: center;
  }
  .menu .second-box {
    width: 100%;
  }
  .menu .third-box {
    width: 100%;
  }
  .menu .fourth-box {
    width: 100%;
    margin-top: 25px;
    text-align: center;
  }
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu .row .detail-box1 {
    width: 100%;
    margin-bottom: 20px;
  }
  .menu .row .detail-box2 {
    width: 100%;
    margin-bottom: 20px;
  }
  .menu .row .detail-box3 {
    width: 100%;
  }
}

.only-place {
  background: url(./moukup-images/bar-g0e5a07a3f_640.jpg) no-repeat center center/cover;
  height: 500px;
  position: relative;
}

.only-place .place-content {
  width: 30%;
  height: 250px;
  background-color: rgba(15, 14, 14, 0.8);
  text-align: center;
  position: absolute;
  top: 100px;
}

.only-place .place-content h1 {
  color: #d69e12;
  padding: 20px;
  font-style: italic;
  font-weight: bold;
}

.only-place .place-content h3 {
  color: #d69e12;
  padding: 20px;
  font-style: italic;
}

.only-place .place-content p {
  color: #d69e12;
  text-align: justify;
  padding: 10px;
  line-height: 20px;
}

@media (max-width: 480px) {
  .only-place .place-content {
    width: 100%;
  }
  .book-table .input {
    padding: 5px;
  }
  .container {
    width: 100%;
  }
}

.book-table {
  background: url(./moukup-images/brick-wall-g808bb5d61_640.jpg) no-repeat center center/cover;
  height: 460px;
}

.book-table .head {
  text-align: center;
}

.book-table .head h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 60px;
  padding: 20px;
  color: #fff;
}

.book-table .input {
  text-align: center;
}

.book-table .int {
  background-color: rgba(15, 14, 14, 0.8);
  padding: 10px;
  width: 30%;
  margin-top: 10px;
}

.book-table ::-webkit-input-placeholder {
  color: white;
}

.book-table :-ms-input-placeholder {
  color: white;
}

.book-table ::-ms-input-placeholder {
  color: white;
}

.book-table ::placeholder {
  color: white;
}

.book-table .input a {
  text-decoration: none;
  color: #fff;
  padding: 8px;
  line-height: 50px;
  background-color: rgba(15, 14, 14, 0.8);
}

@media (max-width: 480px) {
  .book-table .int {
    width: 100%;
  }
}

.review {
  background-color: rgba(85, 83, 83, 0.8);
  height: 400px;
}

.review-head {
  text-align: center;
}

.review-head h1 {
  color: #d69e12;
  padding: 20px;
  font-style: italic;
  font-weight: bold;
}

.gradient h3 span {
  font-size: 50px;
  color: #fff;
}

.str {
  color: #d69e12;
  padding: 5px;
}

h4 {
  color: #d69e12;
  padding: 10px 0;
}

.review-name p {
  padding: 10px 0;
  color: #fff;
}

.color {
  width: 60%;
}

h5 {
  width: 100%;
  height: 5px;
  padding: 10px;
  margin-top: 15px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, right top, left top, from(green), color-stop(#f06d06), to(red));
  background-image: linear-gradient(to left, green, #f06d06, red);
  background-color: red;
}

.review-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gradient {
  width: 50%;
}

.review-name {
  width: 40%;
}

.review-name-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.paragraph {
  width: 40%;
  padding: 20px 0;
}

.paragraph p {
  text-align: justify;
  color: #fff;
}

@media (max-width: 480px) {
  h5 {
    width: 100%;
  }
  h4 {
    padding: 20px;
  }
  .container {
    width: 100%;
  }
  .review {
    height: 800px;
  }
  .review-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gradient {
    width: 100%;
  }
  .review-name {
    width: 100%;
    padding: 20px;
    text-align: center;
  }
  .review-name-color {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .paragraph {
    width: 100%;
  }
  .paragraph p {
    padding: 10px;
  }
  .gradient h3 span {
    padding: 20px;
  }
  .color {
    width: 100%;
  }
}

.contact {
  background-color: rgba(15, 14, 14, 0.8);
}

.main-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-contact .information {
  width: 24%;
}

.main-contact .information h1 {
  font-size: 44px;
  padding: 20px;
  font-family: 'Dancing Script', cursive;
  color: #fff;
}

.main-contact .information p {
  color: #fff;
  padding: 20px;
}

.main-contact .information .inst {
  background-color: #ee287a;
  font-size: 25px;
  margin-right: 5px;
}

.main-contact .information .face {
  background-color: #1d54b9;
  font-size: 25px;
  margin-right: 5px;
}

.main-contact .information .twit {
  background-color: rgba(51, 48, 238, 0.774);
  font-size: 25px;
  margin-right: 5px;
}

.main-contact .information .app {
  background-color: #23e223;
  font-size: 25px;
  margin-right: 5px;
}

.main-contact .map {
  width: 20%;
  height: 300px;
}

.main-contact .map h1 {
  font-size: 54px;
  padding: 20px;
  font-family: 'Dancing Script', cursive;
  color: #fff;
}

.main-contact .map img {
  width: 100%;
  padding: 20px;
}

.main-contact .twiit {
  width: 24%;
}

.main-contact .twiit h1 {
  font-size: 44px;
  padding: 20px;
  font-family: 'Dancing Script', cursive;
  color: #fff;
}

.main-contact .twiit p {
  color: #fff;
  padding: 20px;
  line-height: 30px;
}

.main-contact .our-service {
  width: 24%;
}

.main-contact .our-service h1 {
  font-size: 44px;
  padding: 20px;
  font-family: 'Dancing Script', cursive;
  color: #fff;
}

.main-contact .our-service p {
  color: #fff;
  padding: 20px;
}

.footer {
  text-align: center;
}

.footer i {
  font-size: 34px;
  color: red;
}

@media (max-width: 480px) {
  .main-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
    text-align: center;
  }
  .main-contact .information h1 {
    font-size: 34px;
    padding: 20px;
  }
  .container {
    width: 100%;
  }
  .main-contact .information {
    width: 100%;
  }
  .main-contact .twiit {
    width: 100%;
  }
  .main-contact .our-service {
    width: 100%;
  }
  .main-contact .information h1 {
    font-size: 53px;
  }
  .main-contact .map {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */